<!DOCTYPE html>
<html>
<head>
    <title>Lyddie</title>
    <link rel = "stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/top.png')}}" width='1440' id='top'>
    <img src="{{ url_for('static', filename='images/lyddie profile.png')}}" width='1000' id='dp'>
    <img src="{{ url_for('static', filename='images/tabs.png')}}" width='1440'>
    <div id='pics'>
        <img src="{{ url_for('static', filename='images/pic1.png')}}" width='290'>
        <img src="{{ url_for('static', filename='images/pic2.png')}}" width='290'>
        <img src="{{ url_for('static', filename='images/pic3.png')}}" width='290'>
        <img src="{{ url_for('static', filename='images/pic4.png')}}" width='290'>
        <img src="{{ url_for('static', filename='images/pic5.png')}}" width='290'>
        <img src="{{ url_for('static', filename='images/pic6.png')}}" width='290'>
    </div>
</body>
</html>